@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container{
  display: flex;
  width: 90vw;
  height: 80vh;
}
.panel {
  background-size: conver;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3{
  font-size: 24px;
  position: absolute;
  bottom: 90px;
  left: 50px;
  margin: 0;
  opacity: 0;
}
.panel p{
  color: rgb(255, 255, 255);
  font-size: 14px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin: 0;
  opacity: 0;
}

.panel.active{
  flex: 5;
}

.panel.active h3{
  opacity: 1;
  transition: opacity 1s ease-in 0.3s;
}
.panel.active p{
  opacity: 1;
  transition: opacity 2.5s ease-in 0.3s;
}

@media(max-width: 480px){
  .container{
    width: 100vw;
  }
  .panel p{
    bottom: 30px;
    left: 30px;
  }
  .panel h3{
    top: 40vh;
    left: 10vh;
  }
  .panel p{
    display: none;
  }
  .panel:nth-of-type(3){
    display: none;
  }
    .panel:nth-of-type(5){
    display: none;
  }

}